.nav{
    height: auto;
    width: 100%;
    top: 0;
    background: rgb(189,180,180);
    margin-bottom: 5px;
}
.logo{
    height: 35px;
    width: 35px;
}
.nav ul{
    width: auto;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5%;
    padding: 0;
}
.nav li{
    float: left;
    margin-right: 5%;
}
.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    text-decoration: none;
}
.nav li a:hover{
    background-color: rgb(169,169,169);
}
.menu{
    padding-left: 30%;
    width:30%;
    position: relative;
}
.insideMenu{
    background: rgb(189,180,180);
    display: none;
}
.insideMenu li{
    float: none;
    text-align: center;
}
.menu:hover .insideMenu{
    display: block;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
}
.container .log {
    height: 408px;
    width: 368px;
    position: absolute;
    background-color: #FFFFFF;
    top: 20%;
    right: 15%;
}
.logBtn a{
    text-align: center;
    padding-left: 7%;
}
.logBtn a button {
    width: 87%;
    height: 45px;
    background-color: #ee7700;
    border: none;
    color: white;
    font-size: 18px;
    text-align: center;
}
.logTip .p1 {
    display: inline-block;
    font-size: 28px;
    margin-top: 30px;
    width: 80%;
}
.logTip {
    width: 86%;
    border-bottom: 1px solid #ee7700;
    margin: 0 auto 60px;
}
.log .logD img {
    position: absolute;
    top: 12px;
    left: 8px;
}
.log .logD input {
    width: 100%;
    height: 42px;
    text-indent: 2.5rem;
}
.log .logD {
    width: 86%;
    position: relative;
    margin: 30px auto;
}
.log .logD {
    width: 86%;
    margin: 0 auto;
}