/*顶部导航栏*/
.logo{
    width: 35px;
    height: 35px;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 3px;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    /*总让nav置于页面内容上方*/
    z-index: 100;
}
.nav .active{
    background-color: #4caf50;
}
.nav li a:hover:not(.active){
    background-color: #111;
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav li{
    float: left;
}
.nav li a, .dropBtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav .menu{
    float: right;
    padding-right: 2%;
}
.insideMenu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.insideMenu li{
    float: none;
}
.insideMenu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.insideMenu a:hover{
    background-color: #f1f1f1;
}
.menu:hover .insideMenu{
    display: block;
}
.icon{
    width: 20px;
    height: 20px;
}

.mainContainer{
    padding: 20px;
    margin-top: 30px;
    background-color: #f1f1f1;
    height: 1500px;
}

.footer{
    float: none;
    background-color: whitesmoke;
    top: 0;
    text-align: center;
    font-size: smaller;
    color: grey;
}

.uploadContainer{
    padding: 20px;
    margin-top: 30px;
    background-color: #f1f1f1;
    height: 100%;
}
.input{
    position: relative;
    opacity: 1;
    height: 2rem;
    width: 100%;
    margin: 0.2rem 0;
}
.longInput{
    position: relative;
    opacity: 1;
    height: 10rem;
    width: 100%;
    margin: 0.2rem 0;
}
.normalInput{
    height: 1.5rem;
    width: 27%;
}
.longInput{
    height: 8rem;
    width: 27%;
}
form button{
    border: none;
    outline: none;
    margin: 2rem 0 0;
    width: 27%;
    height: 3.5rem;
    border-radius: 3rem;
    background: linear-gradient(90deg,rgb(182,194,154),rgb(138,151,123));
    box-shadow: 0 0 8px rgb(138,151,123);
    cursor: pointer;
}
form button a{
    text-decoration: none;
}
